<div class = "form_container">
  <div class = "new_dive_form">
      <div class="form_header">
        <p class="add_new_dive_text"> Add New Dive </p>
      </div>
      <form method = "post" action = "/dive_entries" >
        <div class = "upload_photo_icon">
          <img id = "upload_photo_icon" src="/images/camera_icon.png" id="logo" alt="logo">
          <p class = upload_photo_text>add photos</p>
        </div>
        <div class = "first_form_section">
          <input class = "form_fields" type="hidden" name="dive_details[diver_id]" value = <%= current_user.id %>>
          <input class = "form_fields" type="hidden" name="dive_details[location_id]">
          <input class = "form_fields" type="date" name="dive_details[date]">
          <input class = "form_fields" type="text" name="dive_details[dive_site]" placeholder="dive site">
          <input class = "form_fields" type="text" name="location" placeholder="location">
       </div>
        <div class = "second_form_section">
          <input class = "form_fields" type="text" name="dive_details[dive_time]" placeholder="mins">
          <input class = "form_fields" type="text" name="dive_details[depth]" placeholder="depth">
          <input class = "form_fields" type="text" name="dive_details[temperature]" placeholder="temp">
          <input class = "form_fields" type="text" name="dive_details[visibility]" placeholder="vis">
        </div>
        <div class = "notes_section">
          <input class="form_fields" type="text" name="dive_details[notes]"  placeholder="notes:">
        </div>
          <input class="login_button" type="submit" value="save">
      </form>
      <%= erb :'_errors' %>
  </div>
</div>
