<%= erb :'_errors' %>

<img src="/public/images/newlogo.png" id="logo" alt="logo"/>
<div class = "form">
<form method = "post" action = "/sessions" >
  <input class = "login_fields" placeholder ="email" type="email" name="user[email]">
  <br>
  <input class = "login_fields" placeholder ="password" type="password" name="user[password]">
  <br>
  <input class = "login_button" type = "submit" value = "log in">
</form>
</div>

