#logo {
  padding-top: 10%;
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}

.form{
  width: 10%;
  display: block;
  margin: auto;

}

.form_fields {
  border: none;
  border-bottom: 1px solid #4990E2;
  border-left: 1px solid #4990E2;
  opacity: 0.8;
  padding: 6px;
  margin: 4px;

}
.login_button{
  background-color: #4990E2;
  opacity: 0.8;
  border: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 3px;
}

#header {
  padding: 30px;
  width: 100%;
  height: 20px;
}

#header_logo {
  float: left;
  width: 300px;
  position: absolute;
  left: 5px;
  top: 5px;

}

#logout {
  position: absolute;
  right: 5px;
  top: 5px;
}
.container {
  width: 800px;
  height: 100%;
  border-top: 1px solid #4990E2;
  display: inline-block;
  margin-left: 21%;
}

.errors {
  color: red;
}
.side_bar{
display: inline-block;
width: 20%;
height: 100%;
position: fixed;
}

.side_bar a:hover {
  background-color: #4990E2;
  color: white;
}

.side_bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    border-bottom: 1px solid #4990E2;
    color: #818181;
    display: block;
    transition: 0.3s
}

.side_bar .profile_link{
  border-top: 1px solid #4990E2;
}

/*//////////log book////////////////*/
.link_to_entry {
  text-decoration: none;
}
.dive_entry_details {
  border-bottom: 1px solid #4990E2;
}

.img_thumbnail {
  display: inline-block;
  background-color: gray;
  width: 120px;
  height: 100px;
  position: absolute;
  overflow: hidden;
}

.dive_thumbnail {
  width: 125%;
}

.dive_photo_container{
  height: 450px;
  overflow: hidden;

}
.dive_photo{
  width: 100%;
}

.main_dive_details{
  display: inline-block;
  margin-left: 18%;
}


.dive_site {
  color: black;
  font-weight: bold;
  font size: 40px;
}

.location {
  color: grey;
  font size: 20px;
  margin-bottom: 0px

}

.date {
  margin-top: 0px;
  color: grey;
  font size: 20px;

}


.secondary_dive_details {
  display: none;
  color: grey;
  margin-left: 18%;
  padding-bottom: 12px;

}

.secondary_dive_details p {
  margin-bottom: 0px;
  margin-top: 0px;
}

/*///// profile page////*/

.cover_photo{
  width: 100%;
  height: 200px;
  background-color: grey;
}

/*///// new_dive_form////*/
.form_container{
  width: 800px;
  margin: auto;
  padding: 10%

}
.new_dive_form{
  margin-top: 5%;
  width: 320px;
  margin: auto;
  }

.form_header{
  height: 60px;
  background-color: #4990E2;
  margin-bottom: 5px;
}

.form_header p{
  line-height: 60px;
  margin-left: 24%;
  color: white;
  font-size: 20pt;
}

#upload_photo_icon{
  width: 50px;
  height: 37px;
  bottom: 0px;
  padding: 30px;
  padding-bottom: 3px
}

.upload_photo_icon{
  display: inline-block;
  border:1px solid #4990E2;
}

.upload_photo_icon .upload_photo_text {
  color: #4990E2;
  font-size: x-small;
  text-align: center;
  margin-top: 0px;
  padding-bottom: 15px;
}

.first_form_section {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
}
.first_form_section .form_fields{
  display: block;
  vertical-align: top;
  border-left: none;
}

.second_form_section .form_fields{
  border-left: none;
  width: 56px;
  text-align: center;
  font-size: 10pt;
}

.notes_section .form_fields{
  border: 1px solid #4990E2 ;
  width: 300px;
  height: 100px;

}
