<div class="container">
<h1><center>Create New Account</h1>
<form enctype = "mulipart/form-data" method = "post" action = "/users" >
  <label>Name:</label>
  <input type="text" name="user[name]">
  <br>
  <label>Email:</label>
  <input type="email" name="user[email]">
  <br>
  <label>Password:</label>
  <input type="password" name="user[password]">
  <br>
  <input type="file" name="user[cover_photo]">
  <input type = "submit" value = "Create" data-disable-with = "Create User">
</form>
</div>

<%= erb :'_errors' %>
