<%= erb :'_header' %>
<div class = "cover_photo">
  <h1><center>cover photo </h1>
</div>
<%= erb :'_side_bar' %>
<div class="container">
  <h2><center><%= current_user.name%>'s recent activity</h2>
    </div>
