<header id = "header">
  <% if session != nil %>
    <form method = post action = "/sessions/:id">
      <input name="_method" type="hidden" value="delete">
      <input type = "submit" value = "log out">
    </form>
  <% else %>
    <a href="/sessions/new"> Log In </a>
    <a href="/users/new"> Sign Up </a>

  <% end  %>

</header>
