<div class = "side_bar">

    <a class = "profile_link" href="/users/<%= current_user.id %>"> Profile </a>
    <a href="/dive_entries"> Log Book </a>
    <a href="/users/<%= current_user.id %>/dive_stats"> Dive Stats </a>
    <a href="/users/<%= current_user.id %>/dive_stats"> Studies </a>

</div>
